*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
!/app/build/
!/.idea/
/.idea/
.gitignore
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml

build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
icar-crida_keystore.jks
settings.gradle
